/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Georgia, serif;
    color: #252525;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}
/*

1 - Navbar
2 - section chamada
3 - section oqcafe
4 - section tipo
5 - section locais

*/

/* 1 - Navbar */
nav{
    background-color: #252525;
    padding: 20px 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.125em;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    margin: 10px 10px;
}
nav ul li:after{
    content: "";
    background-color: white;
    width:0; 
    height: 5px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover:after{
    width:100%;
}


/* 2 - section chamada */

#chamada{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    padding: 130px 0;
    background-size:cover;
}

#chamada h1, #chamada h5{
    color:white;
    text-align: center;

}

#chamada h1::after{
    content: "";
    background: white;
    width: 20px;
    height: 4px;
    display: block;
    margin: 10px auto 0 auto;
}
#chamada h1{
    font-size: 3em;
    text-transform: uppercase;

}

#chamada h5{
    font-size: 1.125em;
    font-style: italic;
}

/* 3 - section oqcafe */

#valores h2{
    font-size: 2.25em;
    text-align: center;
    margin: 50px auto;
}

#valores p{
    font-size: 1.125em;
    font-style: italic;
    text-align: center;
    width: 460px;
    margin: 50px auto;
}

.imagem-cafe {
    max-width: 400px;
    margin: 0 auto;

}
#valores .valor h3 {
    width: 220px;
    font-size: 2.25em;
    background-color: #252525;
    padding: 5px 0 10px 0;
    color: white;
    text-align: center;
    font-style: italic;
    position: relative;
    top: -25px;
}

.valor {
    float: left;
    margin: 0 5px auto;
}


@media(max-width: 960px){
    #valores .container{
        max-width: 600px;
    }
    #valores .valor img{
        width: 280px;
    }
    #valores .valor h3{
        font-size: 1.125em;
    }
}

@media (max-width: 600px){
    #valores .container{
        max-width: 300px;
    }
    #valores .valor{
        margin: 20px 0;
    }
    #valores .valor img{
        width: 300px;
    }
    #valores .valor h3{
        font-size: 2.25em;
        margin: 0 auto;
    }
}
/* 4 Section tipo */

#tipos-cafe {
    background-color: #e7e4d8;
}

#tipos-cafe .tipo-item{
    width: 300px;
    float: left;
    margin: 20px 10px 40px 0;

}

#tipos-cafe .tipo-item h2{
    font-size: 2.25em;
    text-align: center;
    margin: 20px 0;
}

#tipos-cafe .tipo-item p{
    font-size: 0.875em;
    text-align: justify;
}

/* imagem circulo */
#tipos-cafe .tipo-item h2::before{
    content:"";
    width: 100px;
    height: 100px;
    display: block;
    background-color: red;
    border-radius: 50%;
    margin: 20px auto;
    border: 8px solid #e7e4d8;
    box-shadow: 0 0 0 8px red;
}

#tipos-cafe .tipo-item #paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#tipos-cafe .tipo-item #carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}

#tipos-cafe .tipo-item #mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#saiba-mais{
    display: table;
    font-size: 1.125em;
    margin: 0px auto 60px auto;
    text-decoration: none;
    color: #252525;
    border: 3px solid black;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

#saiba-mais:hover{
	background-color: #000;
	color: #fff;
	transition: 0.3s;
}
/* 5 - section locais */

#locais h2{
    font-size: 2.25em;
    margin: 0 0 20px 0;
    font-weight: bold
} 
#locais p{
    font-size: 1.125em;
    margin: 0 0 40px 0;
    line-height: 1.4em;
}

.ver-mapa {
    font-size: 1.125em;
    margin: 0px;
    text-decoration: none;
    color: #252525;
    border: 3px solid black;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.ver-mapa:hover{
	background-color: #000;
	color: #fff;
	transition: 0.3s;
}

#locais .locais-item img{
    width: 460px;
    display:block;
    float: left;
    margin: 0 30px;
}
#locais .locais-item{
    margin: 80px 76px 125px 0px;
    
}
